body{
    font-family: 'Seymour One', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

body p{
    color: gray;
    font-size: 1.5em;
    font-weight: 400;
}
#container{
    margin: 20px 60px 
}

header{
    display: flex;
    align-items: center;
}

nav{
    flex: 1;
    margin-right: 40px;
}

nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
}

nav ul li {
    list-style: none;
    margin: 0 10px;
}

nav a{
    color:#666;
    text-decoration: none;
}

h1{
    font-size: 4em;
    margin: 0;
    margin-right: 10px ;
    color:  #3c3c3c;
}

h3{
    font-size: 4em;
    font-weight: 300;
    margin: 0;
}
#subtitle{
    display: flex;
    align-items: baseline;
}

nav a:hover{
    color:#999;
}

.button{
    padding: 14px 24px;
    border-radius: 20px; 
    color:#fff;
    border:none;
    cursor: pointer;
}
.button-primary{
    background-color: #d60d0d;
}
#main-section{
    display: flex;
    margin-top: 40px;
    margin-right: 100px;
    margin-left: 100px;
    align-items: center;
}

#main-section input[type="email"]{
  padding: 12px 24px;
  border-radius: 17px;
  border: 1px solid #555;
  outline: none;
}
#main-section form{
    margin: 20px 0;
    width: 400px;
}

#main-section-buttons-shops{
    display: inline;
}
#section-center{
    margin-top: 100px;
    text-align: center ;
    font-size: 1em ;
}

#section-center h1{
    display: inline;
    font-size: 3em;
    font-weight: 300;
}


#sub-section-three{
    display: flex;
    margin-top: 60px;
    align-items: center;
}
#sub-section-three h1{
    font-size: 2em;
    margin-top: 40px;
}
.sub-section-three-section{
    display: flex;
    margin-top: 30px;
    margin-right: 70px;
    margin-left: 50px;

}
.sub-section-three-section h1{
    font-size: 2em;
    font-weight: 480;
    margin: 0;
}

article p{
    margin-right: 30px; 
    color: grey;
}

#end-section{
    display: flex;
    margin-top: 70px;
    margin-right: 100px;
    margin-left: 100px;
    align-items: center;
    font-size: 1em ;
}

#end-section h1{
    font-size: 3em;
    font-weight: 300;
}